 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 18px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color:wheat;
  height: 50px;
}


.logo {
  border: 2px solid #b1a2a2;
  padding: 6px 16px;
  color:black;
  letter-spacing: 3px;
  font-weight: 600;
}

/* MENU */
#menu-toggle {
  display: none;
   
}

.menu-icon {
  display: none;
  font-size: 28px;
  color: #a17b7b;
  cursor: pointer;
}

.nav-links a {
  color:#181717 ;
  text-decoration: none;
  margin-left: 28px;
  font-size: 16px;
  letter-spacing: 3px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-links a:hover{
  color:#a17b7b;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* HERO */
.hero {
  height: 100vh;
   /* background: url("images/my_pic.jpeg") center/cover no-repeat;  */
   /* background: #0b9f8e; */
    background: #009688;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.overlay {
  position: absolute;
  inset: 0;
 
  /* background: rgba(0,0,0,0.6); */
  
}

.hero-content {
  position: relative;
  text-align: center;
  color: #fff;
  padding: 20px;
  max-width: 90%;
}

/* TEXT ANIMATION */
.fade-text {
  animation: fadeUp 1.2s ease forwards;
}

.typing span {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #fff;
  animation: typing 3s steps(22) infinite alternate,
             blink 0.8s infinite;
  font-size: 48px;
  font-weight: 800;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

 

.skills {
  font-size: 16px;
  margin-top: 8px;
  letter-spacing: 3px;
  /* color: #ccc; */
  color:white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* BUTTONS */
.buttons {
  margin-top: 30px;
}

.btn {
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 13px;
  margin: 8px;
  display: inline-block;
}

.primary {
  background: #b6d44a;
  color: #000;
}

.outline {
  border: 1px solid #fff;
  color: #fff;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .typing span {
    font-size: 36px;
  }
}

@media (max-width: 768px) {

  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 20px;
    background: #000;
    padding: 18px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
  }

  #menu-toggle:checked ~ .nav-links {
    display: flex;
    
  }

  .nav-links a {
    margin: 12px 0;
    text-align: center;
    color:whitesmoke;
  }

  .typing span {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .typing span {
    font-size: 24px;
  }
  .subtitle {
    font-size: 15px;
  }
}

  /* projects */

.portfolio{
  padding:60px 8%;
}

.title{
  font-size:42px;
  color:#2d2d4f;
  position:relative;
}

.title::after{
  content:'';
  width:40px;
  height:4px;
  background:#ff2c55;
  position:absolute;
  left:0;
  bottom:-10px;
}

.subtitle {
  margin-top:30px;
  font-size:26px;
  color: #f0f0f5;
   
}

.desc{
  margin:20px 0 40px;
  color:#555;
  max-width:700px;
   
}

/* PROJECT CARDS */

.project-container{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap:30px;
}

.project-card{
  
  
  border-radius:16px;
  padding:15px;
  box-shadow:0 15px 30px rgba(0,0,0,0.08);
  transition:0.4s;
}

.project-card:hover{
  transform:translateY(-8px);
   background: #009688;
   color: white;
}

.project-card img{
  width:100%;
  border-radius:12px;
}

/* My Skills */
 .my_skill{
  /* background-color:rgb(21, 20, 20); */
  background-color: #2b2b2b;
  height: 450px;
  color: white;
  margin: 50px;

 }

.skill{
    width:50%;
    height: 10%;
     
   
     
}
.skill_boxes{
  margin-left: 100px ;
  height:10%;
}
.skill h2{
    text-align:center;
    font-size:36px;
    margin-bottom:40px;
}

.skill h2 span{
    color:rgb(234, 27, 27);
}

.skill-box{
    margin-bottom:30px;
    height: 20px;

}

.skill-title{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:15px;
    margin-bottom:8px;
}

.skill-title i{
    font-size:24px;
}

.html{color:#e34c26;}
.css{color:#264de4;}
.boot{color:#7952b3;}
.js{color:#f0db4f;}
.c{color:white;}
.php{color:red;}

.skill-bar{
    width:100%;
    height:12px;
    background:white;
    border-radius:20px;
    overflow:hidden;
}

 

.skill-per{
    height:100%;
    width:0;
    background-color:#1af1df;
    border-radius:20px;
    transition:width 2s ease;
    position:relative;
}

 
.tooltip{
    position:absolute;
    right:10px;
    top:-28px;
    background:#000;
    color:#fff;
    padding:3px 6px;
    font-size:12px;
    border-radius:4px;
    opacity:0;
    transition:0.4s;
}

/* Hover effect */
.skill-box:hover .tooltip{
    opacity:1;
}

.skill-box:hover .skill-per{
    box-shadow:0 0 10px #00b3a4;
}

/* Responsive */
@media(max-width:768px){
    .skill{
        width:85%;
         
    }
    .skill-box{
      height: 20px;
      
    }
    .my_skill{
      width: 100%;
      margin-left: auto;
    }
    
}
/* About section */
/* TITLE */
#about{
  margin-left: 100px;
}
.about-container{
  margin-left: 200px;
}
.about-title {
  text-align: center;
  margin-bottom: 60px;

}

.about-title h2 {
  font-size: 500px;
  font-weight: 700;
}

.about-title .line {
  display: inline-block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 10px auto;
}

.about-title .subtitle {
  color: crimson;
  font-weight: 600;
  margin-top: 5px;
}

/* LAYOUT */
.about-container {
  display: flex;
  align-items: center;
  gap: 60px;
}

/* IMAGE */
.about-img img {
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

/* CONTENT */
.about-content h3 {
  font-size: 28px;
  margin-bottom: 15px;
}

.about-content h3 span {
  font-weight: 700;
}

.about-content .red {
  color: crimson;
}

.about-content p {
  color: #444;
  line-height: 1.7;
  margin-bottom: 15px;
  max-width: 500px;
}

/* BUTTON */
.btn1 {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 28px;
  background: crimson;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.btn1:hover {
  background: #000;
}

/* ANIMATION */
.fade-left {
  opacity: 0;
  transform: translateX(-40px);
}

.fade-right {
  opacity: 0;
  transform: translateX(40px);
}

.show {
  opacity: 1;
  transform: translateX(0);
  transition: 0.8s ease;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    text-align: center;
    margin-left: auto;
  }

  .about-content p {
    margin: auto;
  }
}
/* education */

 

.timeline {
  display: flex;
  gap: 40px;
  max-width: 1100px;
  margin: auto;
}

.column {
  flex: 1;
}

.column h2 {
  margin-bottom: 25px;
  font-size: 26px;
}

.card {
  background: #2b2b2b;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all 0.4s ease;
  opacity: 0;
  transform: translateY(30px);
}

.card.show {
  opacity: 1;
  transform: translateY(0);
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 255, 150, 0.3);
}

.date {
  font-size: 14px;
  color: #ccc;
}

.card h3 {
  color: #9aff6b;
  margin: 10px 0;
}

.card p {
  color: #aaa;
}

/* Responsive */
@media (max-width: 768px) {
  .timeline {
    flex-direction: column;
  }
}
/* contact */


.contact-section {
  padding: 80px 10%;
}

.contact-section h1 {
  text-align: center;
  font-size: 40px;
}

.subtitle {
  text-align: center;
  color: #ff4d5a;
  margin-bottom: 50px;
}

.contact-container {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.contact-info {
  flex: 1;
}

.contact-info h2 {
  margin-bottom: 15px;
}

.contact-info p {
  color:black;
  margin-bottom: 30px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.info-item span {
  font-size: 24px;
}

.info-item a {
  color: #14a939;
  text-decoration: none;
}

.info-item:hover {
  transform: translateX(8px);
}

.contact-box {
  flex: 1;
  background: #1b1b1b;
  padding: 30px;
  border-radius: 15px;
}

.contact-box h3 {
  margin-bottom: 20px;
}

.contact-box input,
.contact-box textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.contact-box textarea {
  height: 120px;
  resize: none;
}

.contact-box button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, #ff4d5a, #ff7b00);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.contact-box button:hover {
  opacity: 0.9;
}

.scroll-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color:rgb(210, 216, 34);
  border: none;
  padding: 12px 15px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

#cont {
  
  color:#000;
  
}

/* Responsive */
@media (max-width: 900px) {
  .contact-container {
    flex-direction: column;
  }
}

